 <!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
    <display-name>Login Demo Using j_security_check</display-name>
    <!--Defines Security Constraint -->
    <security-constraint>
        <display-name>JSP Demo Constraint</display-name>
        <web-resource-collection>
            <web-resource-name>cp</web-resource-name>
            <description/>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/viewadmin.jsp</url-pattern>
            <url-pattern>/updateprocess.jsp</url-pattern>
            <url-pattern>/updateform.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>administrator</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <!--Defines Login Config -->
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <!--Defines Security Role -->
    
     <security-role>
        <description/>
        <role-name>administrator</role-name>
    </security-role>
    
     <security-role>
        <description/>
        <role-name>user</role-name>
    </security-role>
</web-app> 
